<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Adeelq_ListInstalledModules::ListInstalledModules"
            title="View Installed Modules"
            module="Adeelq_ListInstalledModules"
            sortOrder="100"
            action="adeelq_modules/modules"
            resource="Adeelq_ListInstalledModules::ListInstalledModules"
            parent="Adeelq_CoreModule::Reports"
        />
    </menu>
</config>
